@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

* {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    background-color: #BBB;
    color: #444;
}

h1 {
    font-size: 1.3em;
    text-align: center;
    color: #464452;
}

#superior {
    width: 100%;
    padding: 2% 0px;
    background-color: #464d52;
}

#encabezado {
    margin: 0px auto;
    width: 80%;
    min-width: 650px;
    max-width: 960px;
}

#description {
    width: 37%.5;
    height: auto;
    background-color: #888;
    float: left;
}

#description p {
    margin: 5%;
    color: white;
    font-weight: bold;
    line-height: 180%;
    text-align: justify;
}

#logo {
    width: 21%;
}

#logo h1 {
    color: white;
    font-size: 2em;
    text-align: left;
    padding: 10px 0;
}

#imgDesc {
    overflow: hidden; 
}

#imgDesc img {
    float: left;
    width: 52,5%;
    height: auto;
}

#contenido {
    width: 80%;
    min-width: 650px;
    max-width: 960px;
    margin: 0px auto;
    clear: left;
}

footer {
    text-align: center;
    margin: 0;
    font-size: .9em;
    line-height: 2;
    clear: both;
    background-color: #464d52;
    color: white;
    width: 100%;
}

.plan {
    width: 94%;
    padding: 1% 3%;
    margin: 30px 1.5%;
    background-color: white;
    float: left;
    text-align: justify;
}

.plan img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.plan h1 {
    margin: 10px 0;
}

.plan p {
    margin: 10px 0;
}

.boton {
    background-color: #464d52;
    padding: 7px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    font-size: .9em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: background 1s;
}

.boton:hover {
    background: #5077c7;
}

.boton a {
    text-decoration: none;
    color: white;
    display: block;
}

#contenido div:nth-child(3n+1) {
    margin-left: 0;
}

#contenido div:nth-child(3n) {
    margin-right: 0;
}

#galeria .plan {
    width: 31%; 
    margin: 30px 1.4% 10px;
    display: inline-block;
    float: none;
    vertical-align: top;
}